*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #BABABA;
    justify-content: space-between;
}

.navbar{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.navbar a img{
    padding-top: 20px;
    height: 100px;
    width: 100px;
}

.navbar a{
    /* color: #BABABA; */
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color:  red;
}

.navbar ul:nth-child(1) {
    width: 50%;
}

.navbar ul:nth-child(2) {
    margin-top: 50px;
    padding: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul li {
    color: #BABABA;
    list-style-type: none;
}

.navbar .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.navbar .user p{
    margin-top: 40px;
    padding: 40px 0;
}

/* div blocks */

.section1 {
    display: grid;
    height: 80vh;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    align-self: center;
    padding-bottom: 10px;
}

.section1 .div-blocks {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    border-radius: 15px;
}

.div-blocks button {
    color: #BABABA;
    padding-right: 15px;
    background-color: #040E37;
    text-align: right;
    text-decoration: solid;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.div-blocks button:hover {
    color: orangered;
}


/* footer */

.footer {
    height: 30vh;
    width: 100%;
    display: flex;
    background-color: #040E37;
}

.footer .map {
    height: 90%;
    width: 50%;
    padding: 25px;
    padding-left: 60px;
}
