* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* overflow: hidden;*/
    height: 100vh;
}

#maincontainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #040E37;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
}

.navbar {
    background-color: rgba(4, 14, 55, 0.7);
    flex-direction: row;
    position: fixed;
    padding: 0 30px;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#forham {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    color: #BABABA;
}

#home .img {
    height: 70%;
    width: 100%;
    background-image: url("images\\logo-without-tagline.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar a:hover {
    color: red;
} 


.video {
    width: 40%;
}

#myVideo {
    width: 100%;
}



#ham {
    margin-bottom: 5%;
    border: none;
    display: none;
    background-color: transparent;
    color: #BABABA;
    cursor: pointer;
}

#ham:focus {
    outline: none;
}




section h1 {
    color: #BABABA;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#about p {
    color: #BABABA;
    justify-content: center;
    align-items: center;
} 

#para {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section p {
    color: #BABABA;
    width: 80%;
    height: 50%;
} */

#about {
    padding: 30px 0;
    height: 100vh;
    width: 100%;
    background-color: #040E37;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: center;
}

.about-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
}

#landing-video {
    padding-top: 10px;
    width: 100%;
}

.video-buttons {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fa-expand {
    fill: #BABABA;
}

.fa-play {
    fill: #BABABA;
}

.fa-pause{
    fill: #BABABA;
}

.video-buttons button{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    color: #040E37;
    cursor: pointer;
    transition: all 0.2s ease-in;
    width: 20px;
}

.play {
    background-image: url("images\\play-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.pause {
    background-image: url("images\\pause-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.fullscreen {
    background-image: url("images\\expand-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


#ham-links {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: 45px;
    margin-left: 30px;
    padding-left: 5px;
    background-color: #04155c;
}

a {
    color: #BABABA;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

 .navbar a:after {   
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #BABABA;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar a:hover:after { 
    color: red;
    width: 100%; 
    left: 0; 
}

#contact {
    height: 100vh;
    width: 100%;
    background-color: #040E37;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: center;
}

#contact-grid {
    height: 60%;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 33% 33% 34%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.profiles {
    border-radius: 10px;
    border: 1px solid #BABABA;
    display: grid;
    grid-template-columns: 26% 73%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;  
    padding: 5px;
}

.profile-photo {
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px dotted #BABABA; */
    grid-row: span 2;
}

.Ashwith {
    background-image: url("images\\Ashwith.jpeg");
}

.Manasi {
    background-image: url("images\\Manasi.jpg");
}

.profile-name {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px dotted #BABABA; */
}

.profile-name p {
    text-transform: uppercase;
    text-align: center;
    color: #BABABA;
    font-weight: bold;
    /* white-space: pre-line; */
    transition: all 0.3s ease-in;
}

.profile-links {
    border-radius: 10px;
    border: 1px dotted #BABABA;
    background-color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-links img {
    margin: auto 0;
    padding: 0;
}

.profile-links a {
    margin: 0 10px;
    padding: 0;
}

.query-form {
    border-radius: 10px;
    grid-row: span 3;
    border: 1px solid #BABABA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.query-form h3 {
    font-size: larger;
}

.query-form input{
    width: 90%;
    height: 10%;
    background-color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 7px;
    outline: none;
    padding-left: 10px;
}

.query-form textarea{
    width: 90%;
    height: 35%;
    background-color: #BABABA;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 7px;
    outline: none;
    padding-top: 7px;
    padding-left: 10px;
}

.query-form button {
    width: 15%;
    height: 7%;
    border: none;
    outline: none;
    background: #BABABA;
    color: #040E37;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-in;
}

.query-form button:hover {
    color: #BABABA;
    border: 1px solid #BABABA;
    background-color: #040E37;
}

#map {
    grid-column: span 2;
}

@media all and (max-width: 1024px) {
    
    #forham {
        display: none;
    }

    #ham-links {
        display: none;
        visibility: visible;
    }

    #ham {
        display: block;
    }

    /* home */

    #home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home .img {
        height: 40%;
        width: 100%;
    }

    #home .video {
        height: 30%;
        width: 80%;
    }


    /* about */

    #about {
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-video {
        height: 50%;
        width: 90%;
    }

    .about-video video {
        width: 100%;
    }
    
    #para  {
        text-align: center;
        width: 80%;
    }

    /* contact */

    #contact {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #contact-grid{
        height: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30% 30% 25% 15%;
    }
    
    #map {

        grid-column: span 2;
    }

    .profiles {
        display: grid;
        grid-template-columns: 33% 67%;
        border-radius: 10px;
        grid-row-gap: 5px;
    }

    .profile-photo {
        /* background-position: center; */
        background-size: contain;
        background-repeat: no-repeat;
        grid-row: 1;
        grid-column: 1;
    }

    .profile-links {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        grid-column: span 2;
        margin-right: 3px;
    }

    .profile-links img {
        margin: auto 0;
        padding: 0;
    }

    .profile-name {
        border: none;
        margin-bottom: 10px;
    }

    .profile-name p{
        text-transform: uppercase;
        /* font-size: x-small; */
        font-size: 70%;
        white-space: pre-line;
    }

    .query-form{
         border-radius: 10px;
         grid-row: 3;
         grid-column: span 2;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
    }
    
    .query-form h3 {
        font-size: small;
        text-align: center;
        grid-column: span 2;
    }

    .query-form textarea {
        font-size: x-small;
        grid-row: 2 / 5;
        grid-column: 2;
        height: 100%;
    }

    .query-form button {
        font-size: x-small;
        text-align: center;
        color: #BABABA;
        background-color: #040E37;
        border: 1px solid #BABABA;
        margin: 0 auto;
        height: 70%;
        width: 20%;
        grid-column: span 2;
    }

    .query-form input {
        font-size: x-small;
        margin-left: 10px;
        height: 70%;
        width: 90%;
    }
}